body {
    margin: 0;
    padding: 0;
    background-image: url('/public/images/bg.jpg'); 
    background-size: cover;
    background-position: center;
}
h1{
    font-weight: bolder;
    font-family: 'Playfair Display, serif';
    text-align: center;
    color:black;
    font-size: 3em;
    margin: 20px 0;
    
}